@import "tailwindcss";

html,
body {
    height: 100vh;
    overflow: auto;
    @apply bg-yellow-50;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

app-root {
    isolation: isolate;
    font-family: 'Montserrat', sans-serif;
}

@keyframes pulseGlow {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

@keyframes scalePulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.animate-scalePulse {
    animation: scalePulse 1.5s ease-in-out infinite;
}